extends ../../layout

block content
	script.
		$(function(){
			$(".l-input").on("blur", function(e){
				doValidate(this);
			});
		});

		var Validator = {};
		Validator["required"] = function(e){
			return jQuery.isEmptyObject(e.value);
		};
		Validator["isChinese"] = function(e){
			var rname=/[\u4E00-\u9FA5]/;  //u4E00-u9FA5 这是汉字编码范围，首先检测str是否在这个范围之内，是的话，返回true 否则false   
		    return (!rname.test(e.value));
		};
		Validator.work = function(e){
			var pass = true;
			var validator = $(e).attr("validator");
			if(validator){
				var v_arrays = validator.split("|");
				
				for(var v in v_arrays) {
					pass = Validator[v_arrays[v]](e);

					if(pass){
						$(e).addClass("form-control-error").parent().addClass("has-error");
					} else {
						$(e).removeClass("form-control-error").parent().removeClass("has-error");
						$(e).addClass("form-control-success").parent().addClass("has-success");
					}
				}
			}

			return !pass;
		}

		/**
		 * 验证
		 * 
		 * @param  elements 表单输入框； 缺省意为所有输入框
		 * @return object 表单验证结果 + 表单所有输入框
		 */
		function doValidate(elements){
			var _pass = true;
			var $inputs = undefined;
			if(elements){
				$inputs = $(elements);
			} else {
				$inputs = $(".l-input");
			}
			
			var _fields = [];
			$inputs.each(function(i,e){
				_fields[i] = e;				
				_pass = Validator.work(e);
			});

			return {
				pass : _pass,
				fields : _fields
			};
		}

		function doSubmit(){
			var obj = doValidate();
			console.dir(obj);
			
			if(obj && obj.pass){
				var params = {};
				for(var _i in obj.fields){
					var model = obj.fields[_i];
					var key = model.id.substring(2);
					params[key] = model.value;
				}
				var json = (eval(params));
				$.post('/admin/movie/add', json, function(data, textStatus, xhr) {
					console.log(data);
				});
			}
		}
	.container
		.l-form 
			form
				.form-group.row
					label.col-sm-2.form-control-label(for="m_name") 名称
					.col-sm-10
						input.l-input.form-control(id="m_name", placeholder="请输入电影名称", validator="required|isChinese")
				.form-group.row
					label.col-sm-2.form-control-label(for="m_director") 导演
					.col-sm-10
						input.l-input.form-control(id="m_director", placeholder="请输入本片导演", validator="required")
				.form-group.row
					label.col-sm-2.form-control-label(for="m_country") 所属国家
					.col-sm-10
						input.l-input.form-control(id="m_country", placeholder="请输入电影所属国家", validator="required")
				.form-group.row
					label.col-sm-2.form-control-label(for="m_language") 语言
					.col-sm-10
						input.l-input.form-control(id="m_language", placeholder="请输入电影语种", validator="required")
				.form-group.row
					label.col-sm-2.form-control-label(for="m_date") 上映时间
					.col-sm-10
						input.l-input.form-control(id="m_date", placeholder="请输入电影上映时间", validator="required")
				.form-group.row
					label.col-sm-2.form-control-label(for="m_desc") 简介
					.col-sm-10
						textarea.l-input.form-control(id="m_desc",rows="5", validator="required")
				.form-group.row
					.col-sm-10.col-sm-offset-2
						button.btn.btn-primary(type="button",onclick="doSubmit()") Submit
						//- disabled

