extends ../layout

block content
	.jumbotron
		h1.display-3 服务项目
		p.lead 目前处于试运行阶段，码农能提供的功能还不多，见谅！见谅！
		hr.m-y-md
		a.btn.btn-link(href="/admin/movie/list") 电影集管理
		a.btn.btn-link(href="/admin/movie/add") 录入新电影
